set mysql_connection_string "mysql://root@localhost/core_framework?charset=utf8mb4"

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 3

## Você PODE editar o seguinte:
sv_hostname "[CORE FRAMEWORK]"
sets sv_projectName "Core framework"
sets sv_projectDesc "Uma estrutura avançada de FiveM RP, incluindo empregos, gangues, moradia e muito mais!"
sets tags "default, deployer, core"
sets locale "pt-BR"


setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1


setr core_locale "en"


setr UseTarget true


ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents


ensure core
ensure [core]
ensure [standalone]
ensure [voice]
ensure [mapas]


add_ace group.admin command allow
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god
add_principal identifier.fivem:3177525 group.admin #logan122
add_ace resource.qb-core command allow
add_ace qbcore.god command allow
add_principal qbcore.god group.admin
add_principal qbcore.god qbcore.admin
add_principal qbcore.admin qbcore.mod 


load_server_icon Logo.png
set sv_enforceGameBuild 2699

set steam_webApiKey "5F3E00BD428B44A7D94FD090BD7AAA34"
sv_licenseKey "cfxk_gGYPneg2n00f7G72jC5e_1eJLj6"